<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Магазин жіночого одягу{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block user_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-content">
                <div class="logo">
                    <a href="">Жіночий Стиль</a>
                </div>
                <ul class="nav-links">
                    <li><a href="{{ url_for('home') }}">Головна</a></li>
                    <li><a href="{{ url_for('catalog_all') }}">Магазин</a></li>
                    <li><a href="{{ url_for('home') }}#about">Про нас</a></li>
                    <li><a href="#footer">Контакти</a></li>
                    {% if session.get('user_name') %}
                        <li><a href="{{ url_for('auth.profile') }}">Профіль</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Вийти</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.register') }}">Реєстрація</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Вхід</a></li>
                    {% endif %}
                    <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Кошик</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Основний вміст сторінки -->
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content" id="footer">
            <p>&copy; 2025 Жіночий Стиль. Всі права захищено.</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script src="{{ url_for('static', filename='js/product_slider.js') }}"></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.alert').forEach((alert) => {
            setTimeout(() => {
                alert.remove();
            }, 10000); // повідомлення зникає через 10 секунд
        });
      });
    </script>

</body>
</html>
